{% if cart != empty %}
  <div class="bc-rewards-bars-wrap" style="flex-direction: row;">
    <div class="bc-progress-wrap">
      {% assign cart_count = cart.item_count %}
      {% assign progress_percentage = cart_count | times: 25 | at_most: 100 %}

      <div class="bc-progress-text" style="color: #000000;">
        {% if cart_count >= 4 %}
          🎉 3+1-Angebot freigeschaltet!
        {% else %}
          Nur noch
          <strong>{{ 4 | minus: cart_count }}</strong>
          Flaschen bis 1 gratis!
        {% endif %}
      </div>
      <div class="bc-progress-bar" style="background-color: #E2E2E2; margin-bottom: 0;">
        <div class="bc-progress-fill" style="width: {{ progress_percentage }}%; background-color: #93D3FF;"></div>
        <div class="bc-checkpoints">
          <div class="bc-checkpoint {% if cart_count >= 4 %}is-reached{% endif %}" style="left: 100%; 
               background-color: {% if cart_count >= 4 %}#93D3FF{% else %}#E2E2E2{% endif %};
               color: #000000;">
            {{ 'icon-gift.svg' | inline_asset_content }}
          </div>
        </div>
      </div>
    </div>
    <div class="bc-progress-wrap">
      {% assign cart_total = cart.total_price %}
      {% assign progress_percentage = cart_total | times: 100.0 | divided_by: 4500 | at_most: 100 %}

      <div class="bc-progress-text" style="color: #000000;">
        {% if cart_total >= 4500 %}
          🎉 Kostenloser Versand aktiviert!
        {% else %}
          <strong>{{ 4500 | minus: cart_total | money }}</strong>
          zu
          <strong>Kostenloser Versand</strong>!
        {% endif %}
      </div>
      <div class="bc-progress-bar" style="background-color: #E2E2E2; margin-bottom: 0;">
        <div class="bc-progress-fill" style="width: {{ progress_percentage }}%; background-color: #93D3FF;"></div>
        <div class="bc-checkpoints">
          <div class="bc-checkpoint {% if cart_total >= 4500 %}is-reached{% endif %}" style="left: 100%; 
               background-color: {% if cart_total >= 4500 %}#93D3FF{% else %}#E2E2E2 {% endif %};
               color: #000000;">
            {{ 'icon-truck.svg' | inline_asset_content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}